# Configurações Gerais
APP_NAME="mmaunze.com"
APP_URL="http://localhost"
APP_DEBUG=true

# Base de Dados
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="nome_da_base_de_dados"
DB_USER="utilizador"
DB_PASS="palavra_passe"
DB_CHARSET="utf8mb4"

# Email (SMTP)
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=465
SMTP_SECURE="ssl"
SMTP_USER="teu_email@mmaunze.com"
SMTP_PASS="tua_palavra_passe"
SMTP_FROM_EMAIL="teu_email@mmaunze.com"
SMTP_FROM_NAME="Meldo Maúnze"

# Destinatário das mensagens de contacto
CONTACT_RECEIVER="meldo@mmaunze.com"
